    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{site.baseurl}}/index.html">{{site.title}}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
          {% for node in site.pages %}
             {% if page.url == node.url %}
               <li class="active"><a href="{{site.baseurl}}{{node.url}}" class="active">{{node.title}}</a></li>
             {% else %}
               <li><a href="{{site.baseurl}}{{node.url}}">{{node.title}}</a></li>
             {% endif %}
          {% endfor %}
          {% for collection in site.collections %}
	    <li class="dropdown">
	      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ collection.label }}<span class="caret"></span></a>
	      <ul class="dropdown-menu">
                {% for doc in collection.docs %}
		<li><a href="{{site.baseurl}}{{doc.url}}" >{{doc.title}}</a></li>
                {% endfor %}
	      </ul>
	    </li>
            {% endfor %}
          </ul>
          <ul class="nav navbar-nav navbar-right">
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
