<!DOCTYPE html>
<html>
  {% include fullscreen_map_head.html%}
  {% include navbar.html%}

  <body>
    <h3>My Google Maps Demo</h3>
    <div id="map"></div>
    <script>
      function initMap() {
        var mapDiv = document.getElementById('map');
        var map = new google.maps.Map(mapDiv, {
            center: {lat: 44.540, lng: -78.546},
            zoom: 8
        });
      }
    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCIRfFjHReAd31k3WJ3cw49svRPNlG-DMU&callback=initMap">
    </script>
  </body>
</html>
